body {
  text-align: center;
  margin: 0;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 16px = 100% = 1em ; 90px = 562.5% */
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

a:hover {
  color: white;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
  padding-bottom: 50px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 700px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  float: left;
  margin-right: 30px;
  width: 200px;
}

.chillies-img {
  margin-left: 30px;
  float: right;
  width: 200px;
}

.hippo-img {
  margin: 100px auto 25px auto;
  width: 150px;
}

.profile {
  width: 30%;
  line-height: 2;
  margin: 0 auto 100px auto;
}

.skills {
  margin-top: 100px;
}

.hr-line {
  width: 5%;
  border: 10px dotted #EAF6F6;
  border-bottom: none;
}

.contact-me {
  margin: 100px auto 0 auto;
  width: 30%;
  padding-bottom: 100px;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  width: 7%;
  display: inline-block;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-paragraph {
  margin: 0;
  color: white;
  font-weight: bold;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #65B3BF);
  background-image: -moz-linear-gradient(top, #66BFBF, #65B3BF);
  background-image: -ms-linear-gradient(top, #66BFBF, #65B3BF);
  background-image: -o-linear-gradient(top, #66BFBF, #65B3BF);
  background-image: -webkit-gradient(to bottom, #66BFBF, #65B3BF);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #66BFBF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-paragrpah {
  margin: 50px 0 50px 0;
  font-weight: bold;
  line-height: 2;
}
